body
    {
        background-color: #d1c0c0;
        justify-content: center;
        display: flex;
        width: 100%;
    }
    .spans
    {
       width:60;
       list-style: none;
       display:flex;
       gap: 15px;
       
    }
    .spans li 
    {   width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: solid 1px #d3cece;
        border-radius: 25px;
        transition: transform 0.3s ease , box-shadow 0.3s ease;
        padding: 20px;
    }
    .spans li label
    {
        font-size: 20px;
        width: 80%;
        text-align: center;
    }
    .spans li img
    {
        width: 40%;
        margin-top: 10px;
        height: 60%;
        max-height: 120px;
        border-radius: 25px;
    }
    .spans li p{
        text-align: center;
    }
    .spans li a 
    {
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        width: 30%;
        font-size: 20px;
        text-align: center;
        border: solid 1px #e44747;
        color: #e44747;
        text-decoration: none;
        margin-top: auto;
        
        transition: transform 0.3s ease , box-shadow 0.3s ease, background-color 0.3s ease , color 0.3s ease;
    
    }
    li:hover
    {
        transform: translateY(-5px);
        box-shadow: 0px 0px 20px rgb(235, 224, 224);
        
    }
    li a:hover
    {
        color: white;
        background-color: #e44747;
    }
